<ul class="top-nav">
  <li class="top-nav-li"><a class="active" href="#home">Home</a></li>
  <li class="top-nav-li"><a href="#news">Not auto generated</a></li>
  <li class="top-nav-li"><a href="#contact">Links not active</a></li>
  <li class="top-nav-li"><a href="#about">Changelog</a></li>
</ul>