<ul class="top-nav">
  <li class="top-nav-li"><a class="active" href="/">Home - I also work</a></li>
  <li class="top-nav-li"><a href="#news">Not auto generated</a></li>
  <li class="top-nav-li"><a href="#contact">Links not active</a></li>
  <li class="top-nav-li"><a href="/changelog">Changelog - This one does work</a></li>
</ul>